body {
    padding: 0;
    margin: 0;
}
.header {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 10px;
    margin-left: 30px;
    
}