* {
    margin: 0;
    padding: 0;
}

.lateral {
    display: flex;
    background-color: rgb(92, 92, 92);
    width: 30vh;
    height: 98vh;
    position: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
    position: fixed;
}


.header {
    width: 200vh;
    background-color: rgba(0, 0, 255, 0.596);
}


.logo img {
    display: flex;
    height: 12vh;
    cursor: pointer;
    transition: 0.4s;
}


.logo :hover {
    transform: scale(1.2); /* Aumenta a escala da logo em 20% quando o mouse passa por cima */
    margin-top: 5px;

}

.jl {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.jl:hover {
    color: black;
    transform: scale(1.2);
}


nav ul {
    display: flex;
    list-style: none;
}


.container a {
    font-size: 2.5vh;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    border-radius: 2vh;
    padding: 2vh 2vh;
    text-decoration: none;
    color: white;
    margin: 2vh;
    font-family: 'Oswald', sans-serif;
}


.container a:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    background-color: white;
    color: black;
    transition: 0.4s;
}