* {
    margin: 0;
    padding: 0;
}


.inicio {
    background-image: url(../img/Fundo1.jpg);
    background-size: cover;
    height: 98vh;
    border-bottom: 0.2vh solid rgba(182, 182, 185, 0.808);
}

.dois {
    background-image: url(../img/imgSobre.jpg);
    background-size: cover;
    height: 98vh;
}

.tres {
    background-image: url(../img/BackgroundJL.jpg);
    background-size: cover;
    height: 110vh;
    animation: aternar-imagem 12s linear infinite;
}

@keyframes aternar-imagem {
    0% {
      background-image: url(../img/BackgroundJL.jpg);
    }
    50% {
      background-image: url(../img/BackgroundJL2.jpg);
    }
    100% {
      background-image: url(../img/BackgroundJL.jpg);
    }
  }

.quatro {
    background-color: rgba(0, 0, 255, 0.596);
    background-image: none;
    background-size: 200vh 20vh;
    height: 15vh;
    border-bottom: 0;
}


/* PARTE NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
}

.header {
    background-color: rgba(0, 0, 255, 0.596);
}


.logo img {
    display: flex;
    height: 12vh;
    /*  opacity: 0.7;  Torna a logo 50% transparente quando o mouse passa por cima */
    cursor: pointer;
    transition-duration: 0.4s;
}


.logo :hover {
    transform: scale(1.2); /* Aumenta a escala da logo em 20% quando o mouse passa por cima */
    /* z-index: 1; */
    margin-top: 5px;

}


.contribuir {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.contribuir:hover {
    color: black;
}

.sobre {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.sobre:hover {
    color: black;
}

.jl {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.jl:hover {
    color: black;
    transform: scale(1.2);
}


nav ul {
    display: flex;
    list-style: none;
}


.container a {
    font-size: 2.5vh;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    border-radius: 2vh;
    padding: 2vh 2vh;
    text-decoration: none;
    color: white;
    margin: 2vh;
    font-family: 'Oswald', sans-serif;
}


.container a:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    background-color: white;
    color: black;
    transition: 0.4s;
}

.mensaoDC {
    color: rgba(0, 0, 255, 0.753);
    font-size: 4.6vh;
}


/* PARTE ABAIXO DA NAVIBAR */
.parte1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10vh;
    font-family: 'Oswald', sans-serif;
}

.cadastro {
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    border-radius: 1vh;
    padding: 3vh 5vh;
    text-decoration: none;
    color: white;
    margin: 2vh;
    font-family: 'Oswald', sans-serif;
}

.cadastro:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.418);
    background-color: rgba(0, 0, 255, 0.596);;
    color: black;
    transition: 0.4s;
}


/* SOBRE A DC */

.parte2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* Parte trindade */

.tres h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;

}

.parte3 { 
    display: flex;
    justify-content:flex-start;
    position: relative;
    top: 15vh;
    
}


.hero {
    transition: all 0.7s;

}
.hero:hover {
    transform: scale(1.2);
}

.aquaman {
    position: absolute;
    left: 19vh;
    z-index: 2;
}
.aquaman:hover {
    z-index: 8;
}

.green {
    position: absolute;
    left: 39vh;
    z-index: 3;
    top: 3vh;
}
.green:hover {
    z-index: 8;
}

.mulherM {
    position: absolute;
    left: 62vh;
    z-index: 5;
}
.mulherM:hover {
    z-index: 8;
}

.superman {
    position: absolute;
    left: 84vh;
    z-index: 7;
    top: -4vh;
}

.batman {
    position: absolute;
    left: 108vh;
    z-index: 6;
}
.batman:hover {
    z-index: 8;
}

.flash {
    position: absolute;
    left: 138vh;
    z-index: 4;
    top: 7vh;
}
.flash:hover {
    z-index: 8;
}

.ciborgue {
    position: absolute;
    left: 158vh;
    z-index: 1;
    top: 7vh;
}
.ciborgue:hover {
    z-index: 8;
}



