* {
    margin: 0;
    padding: 0;
}


/* background inicio  */

.inicio {
    background-image: url(../img/background-cadastro.jpg);
    background-size: cover;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}


/* parte da navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
}

.header {
    background-color: rgba(0, 0, 255, 0.596);
}


.logo img {
    display: flex;
    height: 7vh;
    left: 3vh;
    top: 0.5vh;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
}


.logo :hover {
    transform: scale(1.2);
    /* Aumenta a escala da logo em 20% quando o mouse passa por cima */
    margin-top: 5px;

}


.contribuir {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.contribuir:hover {
    color: black;
}

.sobre {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.sobre:hover {
    color: black;
}

.jl {
    font-size: 3.3vh;
    display: flex;
    color: white;
    margin-left: -60vh;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.jl:hover {
    color: black;
    transform: scale(1.2);
}


nav ul {
    display: flex;
    list-style: none;
}


.container a {
    font-size: 2.5vh;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    border-radius: 2vh;
    padding: 2vh 2vh;
    text-decoration: none;
    color: white;
    margin: 2vh;
    font-family: 'Oswald', sans-serif;
}


.container a:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    background-color: white;
    color: black;
    transition: 0.4s;
}

.mensaoDC {
    color: rgba(0, 0, 255, 0.753);
    font-size: 4.6vh;
}

/* Parte cadastro */

.cadastro {
    background-color: rgba(0, 0, 255, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70vh;
    height: 87vh;
    margin-top: 2vh;
    border-radius: 3vh;
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.logoCadastro {
    margin-top: -2vh;
}

input {
    text-align: center;
    font-size: 3vh;
    width: 30vh;
    height: 6vh;
    margin-left: 0.5vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    transition: 0.4s;
}

input:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

::placeholder {
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    padding: 2vh;
}

.inputs {
    display: flex;
    justify-content: center;
}

.email {
    width: 61vh;
}

.dtNasc {
    width: 30vh;
    height: 5.6vh;
    margin-right: 0.5vh;
}

.genero {
    text-align: center;
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 30vh;
    height: 6vh;
    border-radius: 1vh;
    transition: 0.4s;
}

.genero:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.escolha {
    font-family: 'Oswald', sans-serif;
    font-size: 2.9vh;
    color: white;
}


.heroPref {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 20vh;
    height: 6vh;
    border-radius: 1vh;
    transition: 0.4s;
}

.heroPref:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 33vh;
    height: 9vh;
    border-radius: 3vh;
    transition: 0.4s;
}

button:hover {
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.76);
    background-color: white;
    color: black;
}

/* alertas */
.loading-div {
    margin-left: 101vh;
    margin-top: -6vh;  
    display: none;
}


#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4vh;
    border: #000000 3px solid;
    padding: 10px;
    margin-right: 20%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}