* {
    margin: 0;
    padding: 0;
}

.lateral1 {
    background-color: rgb(92, 92, 92);
    width: 30vh;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    border-radius: 0.5vh;
    transition: 0.4s;
}


header {
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
    position: fixed;
}


.header {
    width: 200vh;
    background-color: rgba(0, 0, 255, 0.596);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: flex;
    height: 12vh;
    cursor: pointer;
    transition: 0.4s;
}


.logo :hover {
    transform: scale(1.2); /* Aumenta a escala da logo em 20% quando o mouse passa por cima */
    margin-top: 5px;

}

nav ul {
    display: flex;
    list-style: none;
}


.fechar {
    width: 5vh;
    height: 5vh;
    /* background-color: rgb(92, 92, 92); */
}

.fechar {
    margin-left: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    transition: 0.4s;
    margin-top: 3vh;
}


.fechar a:hover {
    transform: scale(1.15);
}

.fechar1 a:hover {
    transform: scale(1.15);
}


/* parte lateral */

.lateral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 3vh;
}
.lateral span {
    color: rgba(0, 0, 255, 0.596);
    display: flex;
    font-size: 5vh;
    
}
.lateral h1 {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
