* {
    margin: 0;
    padding: 0;
}

.inicio {
    background-color: rgba(255, 255, 255, 0.589);
    height: 145vh;
    overflow-x: hidden;
}
.dois {
    background-color: rgb(53, 53, 53);
    height: 145vh;
}
.tres {
    background-color: aqua;
    height: 145vh;
}
.quatro {
    background-color:pink;
    height: 145vh;
}

.lateral1 {
    background-color: rgba(255, 255, 255, 0.459);
    width: 40vh;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    border-radius: 0.5vh;
    transition: 0.5s;
    z-index: 1;
    overflow-y: auto;
}


header {
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
    position: fixed;
}


.header {
    width: 200vh;
    background-color: rgba(0, 0, 255, 0.596);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: flex;
    height: 12vh;
    cursor: pointer;
}


nav ul {
    display: flex;
    list-style: none;
}


.fechar {
    width: 5vh;
    height: 5vh;
    text-decoration: none;
}

.fechar {
    margin-left: 37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    transition: 0.6s;
    margin-top: 3vh;
}


.fechar a:hover {
    transform: scale(1.15);
}

.sair {
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    margin-right: 1vh;
    width: 10vh;
    height: 4vh;
    transition: 0.4s;
}

.sair:hover {
    transform: scale(1.15);
}

.header input {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 3vh;
    width: 30vh;
    height: 5vh;
    margin-left: -35vh;
    margin-top: 2.5vh;
    border-radius: 1vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    transition: 0.4s;
}

.header input:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.header button {
    width: 13vh;
    height: 6vh;
    border-radius: 2vh;
    background-color: rgba(0, 4, 255, 0.616);
    color: white;
    font-family: 'Oswald', sans-serif;
    transition: 0.4s;
    
}

.header button:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}


/* parte lateral */

.lateral {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 3vh;
}


.lateral span {
    color: rgb(0, 0, 151);
    display: flex;
    font-size: 5vh;
    
}

.lateral h1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.lateral a {
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    margin-left: 3vh;
    font-size: 3.7vh;
    color: rgb(0, 0, 151);
    transition:  0.3s;
}

.lateral a:hover {
    font-size: 3.75vh;
    text-decoration:underline black;
}


/* parte herois */

.imgHero {
    border: 0.5vh solid rgba(0, 0, 255, 0.596);
    border-radius: 3vh;
    background-color: rgba(0, 4, 255, 0.582);
}

.quadros {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.quadros div {
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.quadros2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.quadros2 div {
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


.herois {
    margin-left: 2vh;
    margin-top: 20vh;
    transition: 0.6s;
    
}

.herois:hover {
    transform: scale(1.09);
}

.herois2 {
    margin-left: 2vh;
    margin-top: 2vh;
    transition: 0.6s;
}

.herois2:hover {
    transform: scale(1.09);
}

.herois2 span {
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    display: flex;
}

p {
    display: flex;
    justify-content: center;
}
