* {
    margin: 0;
    padding: 0;
}


/* parte dos backgrounds  */

.inicio {
    height: 100vh;
    overflow-x: hidden;
}


/* parte da do formato da lateral */

.lateral1 {
    background-color: rgb(0, 47, 255);
    width: 50vh;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418), 0 100px 300px -15px rgb(0, 4, 63) inset;
    border-radius: 0.5vh;
    transition: 0.6s;
    z-index: 6;
    overflow-y: auto;
}





/* parte da navbar */

header {
    display: flex;
    justify-content: end;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
    position: fixed;
    z-index: 5;
}


.header {
    width: 200vh;
    background-color: rgba(0, 0, 255, 0.596);
}




nav ul {
    display: flex;
    list-style: none;
}


.sair {
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    margin-right: 1vh;
    width: 10vh;
    height: 4vh;
    transition: 0.4s;
}

.sair:hover {
    transform: scale(1.15);
}


/* parte lateral */

.lateral {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 3vh;
}


.lateral span {
    color: rgb(0, 0, 151);
    display: flex;
    font-size: 5vh;

}

.lateral h1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.lateral a {
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    margin-left: 3vh;
    font-size: 3.7vh;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.lateral a:hover {
    font-size: 3.75vh;
    text-decoration: underline black;
}


/* parte perfil  */
.capa {
    background-image: url(../img/hero/1920X1080\ Wallpaper\ 4K\ Space\ Gallery.jpg);
    background-size: cover;
    height: 40vh;
    border-bottom: 3px solid black;
    box-shadow: 1vh 1vh 1vh 1vh rgba(0, 4, 59, 0.589);

}

.imgPerfil {
    width: 250px;
    border-radius: 30vh;
    border: 3px solid black;
    margin-top: 20vh;
    margin-left: 55vh;
}

.biografia {
    position: fixed;
    display: flex;
    justify-content: right;
    margin-top: 20vh;
    margin-left: 53vh;
    color: rgb(46, 46, 252);
    height: 20vh;
    font-size: 4vh;
    text-align: center;   
    font-family: 'Oswald', sans-serif;
   
}

.biografia button {
    width: 20vh;
    height: 5vh;
    margin-left: 3px;
    border-radius: 2vh;
    border: 1px solid black;
}

.textB {
    border-radius: 2vh ;
    text-align: center;
    font-size: 3vh;
    height: 5vh;
    width: 50vh;
    font-family: 'Oswald', sans-serif;
}


.perfil div {
    font-family: 'Oswald', sans-serif;
}

.nomeSobr {
    position: fixed;
    margin-left: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    margin-top: 1vh;
    font-family: 'Oswald', sans-serif;
}

.email {
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: right;
    margin-top: 9.5vh;
    margin-left: 135vh;
    font-size: 4.5vh;
    font-family: 'Oswald', sans-serif;
}

.botoesED {
    position: fixed;
    margin-left: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    margin-top: 50vh;
    font-family: 'Oswald', sans-serif;
    
}

.editar {
    color: white;
    background-color: rgb(0, 47, 255);
    font-size: 3vh;
    width: 20vh;
    height: 5vh;
    margin-right: 6px;
    border-radius: 1vh;
    font-family: 'Oswald', sans-serif;
    border: none;
    transition: 0.4s;
}

.editar:hover {
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.507);
}

.deletar { 
    color: white;
    background-color: rgb(151, 0, 0);
    font-size: 3vh;
    width: 20vh;
    height: 5vh;
    margin-right: 6px;
    border-radius: 1vh;
    font-family: 'Oswald', sans-serif;
    border: none;
    transition: 0.4s;
}

.deletar:hover {
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.507);
}



/* parte editar  */

.cadastro {
    position: absolute;
    z-index: 5;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70vh;
    height: 87vh;
    margin-top: -30vh;
    margin-left: 90vh;
    border-radius: 3vh;
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.logoCadastro {
    margin-top: -2vh;
}

input {
    text-align: center;
    font-size: 3vh;
    width: 30vh;
    height: 6vh;
    margin-left: 0.5vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    transition: 0.4s;
}

input:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.cadastro ::placeholder {
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    padding: 2vh;
}

.inputs {
    display: flex;
    justify-content: center;
}

.emailE {
    width: 61vh;
}

.dtNasc {
    width: 30vh;
    height: 5.6vh;
    margin-right: 0.5vh;
}

.genero {
    text-align: center;
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 30vh;
    height: 6vh;
    border-radius: 1vh;
    transition: 0.4s;
}

.genero:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.escolha {
    font-family: 'Oswald', sans-serif;
    font-size: 2.9vh;
    color: white;
}


.heroPref {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.6vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 20vh;
    height: 6vh;
    border-radius: 1vh;
    transition: 0.4s;
}

.heroPref:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.cadastro button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    width: 33vh;
    height: 9vh;
    border-radius: 3vh;
    transition: 0.4s;
}

.cadastro button:hover {
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.76);
    background-color: white;
    color: black;
}

