* {
    margin: 0;
    padding: 0;
}

.inicio {
    background-color: rgba(255, 255, 255, 0.856);
    overflow-x: hidden;
}


.lateral1 {
    background-color: rgb(0, 47, 255);
    width: 40vh;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418), 0 100px 300px -15px rgb(0, 4, 63) inset;
    border-radius: 0.5vh;
    transition: 0.6s;
    z-index: 6;
    overflow-y: auto;
}


header {
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.418);
    padding: 1vh 5vh;
    position: fixed;
    z-index: 5;
}


.header {
    width: 200vh;
    background-color: rgba(0, 0, 255, 0.596);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: flex;
    height: 12vh;
    cursor: pointer;
}


nav ul {
    display: flex;
    list-style: none;
}


.fechar {
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    transition: 0.6s;
    margin-top: 3vh;
}

.fechar a:hover {
    transform: scale(1.15);
}

.sair {
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    margin-right: 1vh;
    width: 10vh;
    height: 4vh;
    transition: 0.4s;
}

.sair:hover {
    transform: scale(1.15);
}

.header input {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 3vh;
    width: 30vh;
    height: 5vh;
    margin-left: -60vh;
    margin-top: 2.5vh;
    border-radius: 1vh;
    border: solid 2px rgba(0, 0, 0, 0.767);
    transition: 0.4s;
}

.header input:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}

.header button {
    width: 13vh;
    height: 6vh;
    border-radius: 2vh;
    border: 2px solid rgba(0, 0, 0, 0.342);
    background-color: rgba(0, 4, 255, 0.616);
    color: white;
    font-family: 'Oswald', sans-serif;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5.8vh;
    margin-left: -28vh;

}

.header button:hover {
    box-shadow: 1vh 1vh 1vh 0vh rgba(0, 0, 0, 0.623);
}


/* parte lateral */

.lateral {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 3vh;
}


.lateral span {
    color: rgb(0, 0, 151);
    display: flex;
    font-size: 5vh;

}

.lateral h1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.lateral a {
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    margin-left: 3vh;
    font-size: 3.7vh;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.lateral a:hover {
    font-size: 3.75vh;
    text-decoration: underline black;
}

/* sobre Personagem */

.inicio .sobreP {
    display: flex;
    justify-content: right;
    margin-top: 10vh;
    margin-left: 120vh;
    position: absolute;
}

.inicio .textoP {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-left: 5vh;
    margin-top: 15vh;
    font-size: 4vh;
    position: absolute;
}

.inicio .textoP .h1IMG {
    display: flex;
    justify-content: center;
    margin-left: -70vh;
    font-size: 7vh;
}

.inicio .textoP h1 {
    display: flex;
    justify-content: center;
    font-size: 7vh;
    color: rgb(67, 67, 255);
}

.inicio .textoP h2 {
    color: rgb(67, 67, 255);
}

.inicio .textoP h3 {
    color: rgb(67, 67, 255);
}

.inicio .textoP h4 {
    color: rgb(67, 67, 255);
}